@{
    @model ByteBankLib.Models.Response.AccountResponses.AccountCreationResponse
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>@Model.Account.AccountNumber</p>
<p>@Model.Account.Balance</p>
<p>@Model.Account.Principal.Name</p>

<p>
    @if (Model.Success)
    {
        <p>Teste</p>
    }
    else
    {
        <p>Teste 2</p>

    }
</p>
