@{
    @model AccountDepositResponse
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>@Model.ActualBalance</p>

<p>
    @if (Model.Success)
    {
        <p>Teste</p>
    }
    else
    {
        <p>Teste 2</p>

    }
</p>
