
ByteBankSample/ByteBankSample/.vs/slnx.sqlite

ByteBankSample/ByteBank.Models/obj/

*.json

*.props

ByteBankSample/ByteBankSample/.vs/ByteBankSample/v16/

*.cache

*.targets

*.editorconfig

*.txt
