
ByteBankSample/ByteBankSample/.vs/slnx.sqlite

ByteBankSample/ByteBank.Models/obj/

ByteBankSample/ByteBank.Models/bin/

ByteBankSample/ByteBankWebMVC/bin/

ByteBankSample/ByteBankWebMVC/obj/

ByteBankSample/ByteBankSample/obj/

ByteBankSample/ByteBankSample/bin/

*.json

*.props

ByteBankSample/ByteBankSample/.vs/ByteBankSample/v16/

*.cache

*.targets

*.editorconfig

*.txt

*.xml
*.dll
*.exe
*.pdb
*.user
P07_IO/.vs/slnx.sqlite
*.suo
*.v2
*.config
*.ldf
*.mdf
