@*

*@
@{
    ViewData["Title"] = "Curtomer register";
}



<form asp-controller="Customer" asp-action="RegisterNewCustomer" method="post">
    <label>Name:</label>
    <input name="name" type="text"/>
    <br/>

    <label>Cpf:</label>
    <input name="cpf" type="number"/>
    <br/>

    <label>Customer level</label>
    <input name="customerLevel" type="number"/>
    <br/>

    <label>Status</label>
    <input name="status" type="text" />
    <br/>

    <input type ="submit" value="Submit"/>
</form>
