@{
    ViewData["Model"] = "Carrossel";
}
@model List<CasaDoCodigo.Models.Entities.Produto>

<h3>Catálogo</h3>

<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{
            const int PAGE_SIZE = 4;

            int pageAmount = (int)Math.Ceiling((double)Model.Count / PAGE_SIZE);

            for (var i = 0; i < pageAmount; i++)
            {
                <div class="item @((i == 0)? "active": "" )">
                    <div class="row">
                        @{var rowProducts = Model.Skip(i * PAGE_SIZE).Take(PAGE_SIZE);}
                        @foreach (var produto in rowProducts)
                        {
                            <div class="col-md-3 col-sm-3 col-lg-3">
                                <div class="panel panel-default">

                                    <div class="panel-body">
                                        <img class="img-produto-carrossel" src="/images/produtos/large_@(produto.Codigo.ToString("D3")).jpg" />
                                    </div>

                                    <div class="panel-footer produto-footer">
                                        <div class="produto-nome">@(produto.Nome)</div>
                                        <div><h4><strong>R$@(produto.Preco.ToString())</strong></h4></div>
                                        <div class="text-center">
                                            <button onclick="AddProductToCart(@produto.Codigo)" class="btn btn-success">Adicionar</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                </div>
            }
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@section Scripts{
    <script>
        function AddProductToCart(productCode) {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: 'Pedido/UpdateProductAmount',
                async: false,
                data: {
                    request: {
                        productCode: productCode,
                        amount: 1
                    }
                }
            });
            window.location.href = '@Url.Action("Cart","Pedido")'
        }

    </script>
}

